<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.1</key>
	<array>
		<dict>
			<key>title</key>
			<string>Swipe to Save</string>
			<key>detail</key>
			<string>To save note, just swipe right</string>
			<key>icon</key>
			<string>swipeRight</string>
		</dict>
	</array>
	<key>1.3.0</key>
	<array>
		<dict>
			<key>title</key>
			<string>Support iOS 8</string>
			<key>detail</key>
			<string>Adds iOS 8 compatibility</string>
			<key>icon</key>
			<string>iOS8icon375by375</string>
		</dict>
	</array>
	<key>1.3.9</key>
	<array>
		<dict>
			<key>title</key>
			<string>Universal</string>
			<key>detail</key>
			<string>Support both iPhone and iPad</string>
			<key>icon</key>
			<string>iPad</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Export</string>
			<key>detail</key>
			<string>Email as HTML attachment</string>
			<key>icon</key>
			<string>memo</string>
		</dict>
	</array>
	<key>1.3.9.5</key>
	<array>
		<dict>
			<key>title</key>
			<string>Landscape and New Icon</string>
			<key>detail</key>
			<string>Now iPhone support landscape mode too. and New fantastic icon</string>
			<key>icon</key>
			<string>iphone_landscape</string>
		</dict>
	</array>
</dict>
</plist>
